* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  font-size: 0.875rem;
}

table {
  width: 80%;
  margin: 5% auto;
  border-spacing: 0;
}
td {
  padding: 0.4em 0.8em;
}
tr:first-of-type td {
  background-color: black;
  color: white;
  text-align: center;
}
.even {
  background-color: gray;
}
.odd {
  background-color: lightgrey;
}
